* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, p {
  margin: 0;
}

.section {
  text-align: center;
}

.title {
  font-size: 22px;
  line-height: 22px;
  color: #333333;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.text {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #4D4943;
  font-size: 17px;
  line-height: 24px;
}

.header {
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 900px;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-container {
  position: absolute;
  top: 512px;
  left: 225px;
  bottom: 187px;
  right: 542px;
}

.header-title {
  font-size: 48px;
  line-height: 59px;
  color: #ffffff;
  text-transform: uppercase;
}

.header-text {
  font-size: 18px;
  line-height: 22px;
  margin: 16px 0 21px;
  color: #ffffff;
}

.header-text--button {
  display: flex;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  margin-top: 22px;
  border: 1px solid #ffffff;
  width: 833px;
  height: 131px;
  text-transform: uppercase;
}

.header-text-button-span-left {
  padding: 32px 23px 38px 31px;
  border-right: 1px solid #F48E0B;
  color: #F48E0B;
}

.header-text-button-span-right {
  color: #ffffff;
  padding: 32px 31px 38px 22px;
}

.section-main-title {
  margin: 97px 0 28px 0;
}

.section-main-text {
  margin-bottom: 48px;
}

.section-separator {
  background-color: #F1AD1D;
  border: none;
  height: 3px;
  width: 60px;
  margin-bottom: 57px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #F1B128;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-items-text {
  margin-left: 70px;
}

.nav-items-link {
  text-decoration: none;
  color: #3D3D3D;
  text-transform: uppercase;
}

.nav-items-link:hover {
  color: #F1B128;
}

.section-about-us-title {
  margin: 97px 0 28px 0;
}

.section-about-us-text {
  margin-bottom: 107px;
}

.projects-wrapper {
  display: flex;
}

.projects-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-right: 30px;
  height: 343px;
}

.projects-link {
  position: relative;
  height: 148px;
  width: 270px;
  text-align: left;
}

.projects-link-text {
  position: absolute;
  font-family: Lato, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  padding: 14px 21px 14px 15px;
  left: 15px;
  bottom: 11px;
  background-color: #333333;
  color: #ffffff;
  border: none;
}

.projects-content {
  text-align: left;
  max-width: 600px;
}

.projects-content-title {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin: 0 0 22px 0;
  text-transform: uppercase;
}

.projects-title-highlighted {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #F1B128;
  text-transform: uppercase;
}

.projects-content-description-top,
.projects-content-description-bot {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #505050;
}
.projects-content-description-bot {
  margin-top: 32px;
  margin-bottom: 36px;
}
.projects-content-button {
  background-color: #F1AD1D;
  color: #ffffff;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  padding: 19px 27px;
  border: none;
  text-decoration: none;
}
.projects-content-button:hover {
  color: #CDC3C3;
}
.we-change-section {
  margin-top: 75px;
  text-align: center;
  background-image: url(../img/we-change-bg.png);
  height: 380px;
}
.we-change-title,
.we-change-title-highlighted {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #ffffff;
}
.we-change-title {
  padding-top: 137px;
  margin-bottom: 56px;
}
.we-change-title-highlighted {
  color: #F1AD1D;
}
.section-team-title {
  margin: 113px 0 28px 0;
}
.section-team-text {
  margin: 47px 0 53px 0;
}
.team-members-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.team-item {
  position: relative;
  width: 193px;
  height: 178px;
  border: 1px solid white;
}

.team-item img {
  object-fit: cover;
  width: 100%;
}
.team-item-text {
  position: absolute;
  font-family: Lato, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  padding: 15px 50px 15px 16px;
  left: 7px;
  bottom: 16px;
  background-color: #333333;
  color: #ffffff;
  border: none;
}

.we-change-section {
  margin-top: 75px;
  text-align: center;
  background-image: url(../img/we-change-bg.png);
  height: 380px;
}

.team-item-text-highlighted {
  color: #F1AD1D;
}
.we-are-featured {
  margin-top: 192px;
  text-align: center;
  background-image: url(../img/we-are-featured-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 475px;
}
.we-are-featured-title,
.we-are-featured-title-highlighted {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #fff;
}
.we-are-featured-title{
  margin: 164px 0 52px 0;
}
.we-are-featured-title-highlighted {
  color: #F1AD1D;
}

.title-with-separator::after {
  margin: 0 auto;
  content: "";
  display: block;
  width: 62px;
  height: 3px;
  background-color: #F1AD1D;
}
.we-are-featured-item {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 52px 0 112px 0;
}
.article-item-title:before {
  content: '';
  width: 39px;
  height: 35px;
  background-color: black;
  display: inline-block;
  margin-right: 8px;
}
.article-item-link {
  text-decoration: none;
}
.article-item {
  width: 370px;
  margin-bottom: 31px;
}
.article-item-title {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-top: 19px;
  text-align: left;
  display: flex;
  align-items: center;
}
.article-item-description {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: rgba(80, 80, 80, 1);
  padding-bottom: 14px;
  border-bottom: 1px solid #C1C1C1;
  text-align: left;
  color: #505050;
}

.article-item-description {
  font-size: 14px;
}

.article-items-column {
  display: flex;
  flex-direction: column;
}
.article-items-main {
  display: flex;
  justify-content: space-between;
}
.article-item-meta {
  display: flex;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #828282;
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 5px;
  border-bottom: 3px solid #333333;
}
.section_business{
  background-image: url(../img/start-your-business-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 109px;
}
.business_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.business_content-title{
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 95px;
}
.business_content-title::after{
  content: "";
  display: block;
  width: 62px;
  height: 3px;
  background-color: #F1AD1D;
  margin:58px auto 65px;
}
.business_content-title-highlighted{
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #F1AD1D ;
}
.business_content-button{
  font-family: Lato,sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 54px;
  color: #fff;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #FFFFFF;
  margin-bottom: 91px;
  border-radius: 3px;
}
.business_content-button:hover{
color: red;
}
.because_content{
text-align: center;
}
.because_content-title{
  margin-top: 107px;
  margin-bottom: 29px;
}
.because_content-text{
  margin-bottom: 109px;
}
.photo-list-items{
  display: flex;
  justify-content: center;
}
.photo-list-items {
  list-style: none;
}
.photo-list-items button{
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  padding: 12px 42px;
  margin-right: 14px;
  background-color: #fff;
  border: 1px solid #333333;
  transition: 1s;
}
.photo-list-items li:last-child button{
  margin-right: 0;
}
.photo-list-items  button.button_selected,
.photo-list-items  button:hover{
  background-color: #333333;
  color: #F1AD1D;
  cursor: pointer;
}
.because-article{
  position: relative;
  max-width: 284px ;
  height: 274px;
  cursor: pointer;
}
.because-article:hover .because-article-hover{
  display: block;
}
.because-article-hover{
  position: absolute;
  text-align: center;
  align-items: center;
  top: 0;
  left: 0;
  max-width: 284px;
  border: 2px solid #333333;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: none;
}

.because-article-hover-title{
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  margin-top: 51px;
  margin-bottom: 0;
  color: #111111;
  height: 73px;
}
.because-article-hover-title::after{
  content: "";
  display: block;
  width: 62px;
  height: 3px;
  background-color: #F1AD1D;
  margin:25px auto 28px;
}
.because-article-hover-text{
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5B5B5B;
  margin-bottom: 27px;
}
.because_content-button {
  background-color: #F1AD1D;
  color: #ffffff;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  padding: 12px 32px;
  border: none;
  text-decoration: none;
  margin-bottom: 37px;
}
.because_content-button:hover{
  color: red;
  cursor: pointer;
}
.photo-items-gallery{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin-top: 44px;
}
